<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"    th:href="@{/css/style.css}">
</head>
<body>
<div th:replace="~{fragments :: header}"></div>
<div class="container">
    <div class="content">
    <h2>Edit Visit</h2>

    <form th:action="@{|'/visits/edit/'{visit.id}}|" th:object="${visit}" method="post">
        <table>
            <tr>
                <td>Doctor:</td>
                <td>
                    <input type="hidden" name="doctorPesel" th:value="${visit.doctor.pesel}" />
                    <input type="hidden" name="patientPesel" th:value="${visit.patient.pesel}" />
                    <select th:field="*{doctor}" required>
                        <option th:each="doc : ${doctors}"
                                th:value="${doc}"
                                th:selected="${doc.equals(visit.doctor)}"
                                th:text="${doc.name + ' ' + doc.surname  + doc.specjalnosc}">
                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Patient:</td>
                <td>
                    <input type="hidden" name="patientPesel" th:value="${visit.patient.pesel}" />
                    <select th:field="*{patient}" required>
                        <option th:each="pat : ${patients}"
                                th:value="${pat.pesel}"
                                th:selected="${pat.pesel == visit.patient.pesel}"
                                th:text="${pat.name + ' ' + pat.surname + ' (' + pat.pesel + ')'}">
                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Date:</td>
                <td><input type="date" th:field="*{visitday}" required/></td>
            </tr>
            <tr>
                <td>Time:</td>
                <td><input type="time" th:field="*{visithour}" required/></td>
            </tr>
            <tr>
                <td>Description:</td>
                <td><textarea th:field="*{opis}" rows="3" cols="30"></textarea></td>
            </tr>
        </table>
        <button type="submit">Update Visit</button>
    </form>
        <br>
        <a th:href="@{/visits}" > wruć <-</a>
    </div>
</div>
<div th:replace="~{fragments :: footer}"></div>
</body>
</html>
