<!DOCTYPE html>
<html lang="en"
      xmlns:th="http:www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<body>
<div th:fragment="header">
    <header>
        <h1 class="logo">Fullstack App</h1>
        <nav class="nav-links">
            <a th:href="@{/rezerwacjawizyt}">Rezerwacja Wizyt</a>
            <a th:href="@{/logout}">Logout</a>
        </nav>
    </header>
</div>
<div th:fragment="footer">
    <footer>
        <p>&copy; Moja pierwsza aplikacja <strong>Paweł Skrok </strong></p>
        <p>kontakt: <a href="mailto:pawelek192928@gmail.com">pawelek192928@gmail.com</a></p>

    </footer>

</div>



</body>
</html>